td{
border: 1px solid black;
padding:1px;
}
table{
border-collapse:collapse;
}
.center{
	text-align:center;
	}
.right{
	text-align:right;
}
.green{
background-color:green;	
color:white;
}
.blue{
	background-color:blue;
	color:white;
}
